:root {
  --color-light: #fbfcfc;
  --color-blue: #42b6fc;
  --color-red: #ef1511;
  --color-grey: #5f5655;
  --color-purple: #5721ee;
}
/* Navigation Bar */
.navbar {
  background-color: var(--color-light);
  color: var(--color-blue);
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  align-items: center;
  z-index: 1000;
  position: relative;
}
.nav-items {
  list-style: none;
  display: flex;
  gap: 15px;
}
.active-link {
  color: var(--color-purple);
  font-weight: bold;
}

.nav-item a {
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  margin: 0 0.2rem;
}
.nav-item a:hover {
  color: var(--color-purple);
}
.logo img {
  width: 200px;
  height: auto;
}

/* Home Page */
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  padding-top: 60px;
}
.background-image {
  width: 100%;
  height: auto;
  display: block;
}
/* Home Page Paragraph box */
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-text {
  position: absolute;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 500px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  padding-top: 10px;
  margin: 50px 0px 50px 0px;
}

/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

/* This is the footer  */
.footer {
  width: 100%;
  padding: 20px 10px;
  background-color: #f8f9fa;
  box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
}
/* This is the facebook icon  */
.social-media a {
  color: #4267b2;
}

.social-media a:hover {
  color: #365899;
}

/* contact form  */

.contact-form {
  max-width: 400px;
  margin: 200px auto;
}
/* adds space between each, name, email, message  */
.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.textarea {
  height: 150px;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* This is the login form */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
