:root {
  --color-light: #fbfcfc;
  --color-blue: #42b6fc;
  --color-red: #ef1511;
  --color-grey: #5f5655;
  --color-purple: #5721ee;
  --color-dark-red: #8b0000;
}
:root {
  --font-size-small: 1rem;
  --font-size-medium: 1.3rem;
  --font-size-large: 2rem;
}
html {
background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
}
/* Navigation hamburger icon */
.navbar-toggler {
  color: var(--color-red);
  font-size: var(--font-size-large);
  cursor: pointer;
  border: 2px solid var(--color-red);
  border-radius: 4px;
  background: transparent;
  position: relative;
  z-index: 1100;  
}
/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  align-items: center;
  z-index: 1000;
  position: relative;
  /* background: var(--color-blue); */
  /* border: 2px solid var(--color-red); */
}
.nav-items {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-left: auto;
}
.nav-item a {
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  margin: 0 0.2rem;
  color: var(--color-blue);
  font-weight: 900;
  font-size: var(--font-size-medium);
}
.nav-item a:hover {
  color: var(--color-red);
}

.nav-item a.active-link {
  color: var(--color-red);
}
/* Chuds logo img */
.logo img {
  width: 200px;
  height: auto;
}
/* Navbar styling for smaller screens */
@media screen and (max-width: 900px) {
  .nav-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-light);
    transition: transform 0.3s ease;
    transform: translateX(100%);
    z-index: 1000;
    border-radius: 5px;
    width: 100%;
  }

  .nav-items.show-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    background: var(--color-grey);
    background-size: cover;
    background-repeat: no-repeat;
    color: white; /* Adjust text color for visibility */
  }
  .navbar-toggler {
    display: block;
  }
}
/* Toggler button hidden on larger screens */
@media screen and (min-width: 901px) {
  .navbar-toggler {
    display: none;
  }
}

/* Home Page */
.background-image {
  width: 50%;
  height: auto;
  display: block;
  padding: 20px;
  border: 2px solid var(--color-blue);
  border-radius: 4px;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-text {
  text-align: center;
  max-width: 500px;
  font-size: var(--font-size-large);
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  border: 2px solid var(--color-red)
  /* box-sizing: border-box; */

}
.my-logo-home {
  width: 100%;
}
.button-home {
  background-color: var(--color-dark-red);
  border: none;
  box-sizing: border-box;
  color: var(--color-light);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--font-size-medium);
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
  border-radius: 4px;
}
.button-home:disabled {
  pointer-events: none;
}

.button-home:hover {
  box-shadow: rgba(192, 21, 21, 0.25) 0 8px 15px;
  transform: translateY(-2px);
   border: 2px solid var(--color-red);
}

.button-home:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Footer */
.footer {
  color: var(--color-light);
  padding: 10px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: var(--color-red);
  border-radius: 4px;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
}
.footer ul li {
  list-style: none;
  padding: 5px;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.logo-section {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

.nav-section {
  flex: 3;
  display: flex;
  justify-content: space-around;
}

.nav-column {
  text-align: left;
}

.nav-column h3 {
  margin-bottom: 10px;
  font-size: var(--font-size-small);
}

.nav-column p {
  margin: 5px 0;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.social-media {
  margin-bottom: 10px;
}

.social-media a {
  color: var(--color-light);
  margin: 0 10px;
  transition: color 0.3s;
}

.social-media a:hover {
  color: var(--color-blue);
}

.footer-bottom p {
  margin-top: 10px;
  font-size: var(--font-size-small);
}

/* Contact Form */
.contact-form-container{
  /* background-color: black; */
  padding: 10px;

}
.contact-form {
  max-width: 400px;
  margin: 200px auto;
}
.form-group {
  margin-bottom: 20px;
}
.label-name {
  margin-bottom: 5px;
  /* color: var(--color-light); */
  font-weight: 600;
  font-size: var(--font-size-medium);
}
.label {
  /* color: var(--color-light); */
  font-weight: var(--color-light);
  font-weight: 600;
  font-size: var(--font-size-medium);
}
.input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: var(--font-size-medium);
  border-radius: 4px;
}
.textarea {
  height: 150px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
}

h1 {
  text-align: center;
  color: var(--color-grey);
  padding: 40px;
  color: var(--color-light);
  -webkit-text-stroke: 1px var(--color-red);
}
h3 {
  text-align: center;
  background-color: var(--color-red);
  color: white;
  padding: 20px;
}

.center-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  flex-direction: column;
}

.form-style {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.input-style {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.imgcontainer {
  text-align: center;
  margin: 25px 0 12px 0;
}

img.avatar {
  width: 40%;
}

.container {
  padding: 16px;
  margin-left: 200px;
  margin-right: 200px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
.button-contact {
  background-color: var(--color-dark-red);
  border: none;
  box-sizing: border-box;
  color: var(--color-light);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--font-size-medium);
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
  border-radius: 4px;
}

.button-contact:disabled {
  pointer-events: none;
}

.button-contact:hover {
  box-shadow: rgba(192, 21, 21, 0.25) 0 8px 15px;
  transform: translateY(-2px);
   border: 2px solid var(--color-red);
}

.button-contact:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Menu container styling */
.menu-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.title-menu {
  font-size: 3em;
  background: var(--color-red);
  border-radius: 4px;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); */
}

/* Menu category styling */
.menu-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 0;
}

.menu-category h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

/* Menu item styling */
.menu-item {
  flex: 1 1 calc(25% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: calc(25% - 40px);
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
}
.menu-item:hover {
  transform: scale(1.05);
}

.quantity{
  font-family: cursive;
}
.quantity-selector{
  color: var(--color-blue);
  border-radius: 4px;
}

.menu-item img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.menu-item h2 {
  margin: 10px 0;
  font-size: 1.2em;
  color: var(--color-grey);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.menu-item p {
  font-size: 1em;
  margin: 10px 0;
  font-style: italic;
}

.desc {
  padding: 15px;
  text-align: center;
}

.menu-item-controls {
  display: flex;
  align-items: center;
  margin: 10px 0 20px;
}
.menu-item-controls button {
 background-color: var(--color-dark-red);
  border: none;
  box-sizing: border-box;
  color: var(--color-light);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
}

.menu-item-controls button:disabled {
  pointer-events: none;
}

.menu-item-controls button:hover {
  box-shadow: rgba(192, 21, 21, 0.25) 0 8px 15px;
  transform: translateY(-2px);
   border: 2px solid var(--color-red);
}

.menu-item-controls button:active {
  box-shadow: none;
  transform: translateY(0);
}

.menu-item-controls span {
  font-size: 1.2em;
  margin: 0 10px;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .menu-category {
    flex-direction: column;
    align-items: center;
  }

  .menu-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Button Styles */
.menu-item-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.update_order_subtract,
.update_order_add {
  padding: 5px 10px;
  font-size: 16px;
  background-color: var(--color-blue);
  color: var(--color-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.update_order_subtract {
  margin-right: 10px;
}

.update_order_add {
  margin-left: 10px;
}

.update_order_subtract:hover,
.update_order_add:hover {
  background-color: var(--color-purple);
  transform: scale(1.1);
}

.update_order_subtract:focus,
.update_order_add:focus {
  outline: none;
}

.item-quantity {
  margin: 0 10px;
}
/* Cart badge styling */
.cart-badge {
  top: 8px;
  right: 8px;
  background-color: var(--color-red);
  color: var(--color-light);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}
.menu-item-checkout {
  flex: 1 1 calc(33% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.menu-item img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}
.menu-item-checkout-controls {
  display: flex;
  align-items: center;
  margin: 10px 0 20px;
}
.menu-item-checkout-controls button {
  background-color: var(--color-red);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
}
/*AdminDash styling */
.admin-dash-header{ 
  text-align: center !important;
  color: red;
}
.form-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  box-sizing: border-box;
}

.form-input:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.form-input-url {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  box-sizing: border-box;
}

.form-input-url:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.button-add-menu-item{
   background-color: var(--color-dark-red);
  border: 2px solid var(--color-red);
  box-sizing: border-box;
  color: var(--color-light);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--font-size-medium);
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
  border-radius: 4px;
}
.button-add-menu-item:disabled{
  pointer-events: none;
}
.button-add-menu-item:hover{
  box-shadow: rgba(192, 21, 21, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.button-add-menu-item:active{
  box-shadow: none;
  transform: translateY(0);
}
/* Login form */
#loginForm {
  border: 2px solid black;
  padding: 20px;
  border-radius: 5px;
}
.username-field{
  color: black;

}
.password-field{
  color: black;
}