:root {
  --color-light: #fbfcfc;
  --color-blue: #42b6fc;
  --color-red: #ef1511;
  --color-grey: #5f5655;
  --color-purple: #5721ee;
}

html {
  margin-bottom: 100px;
  padding-bottom: 100px;
  background-color: var(--color-light);
}

@media screen and (min-width: 901px) {
  .navbar-toggler {
    display: none;
  }
}
/* Navigation hamburger icon */
.navbar-toggler {
  color: var(--color-blue);
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: transparent;
}

/* Navigation Bar */
.navbar {
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  align-items: center;
  z-index: 1000;
  position: relative;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.nav-item a {
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  margin: 0 0.2rem;
  color: var(--color-grey);
  font-weight: normal;
}

.nav-item a:hover {
  color: var(--color-blue);
}

.nav-item a.active-link {
  color: var(--color-red);
  font-weight: bold;
}
/* Chuds logo img */
.logo img {
  width: 200px;
  height: auto;
}

/* Media Queries */
@media (min-width: 320px) and (max-width: 375px) {
  /* Mobile Small */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-items {
    flex-direction: column;
    width: 100%;
  }
  .logo img {
    width: 150px;
  }
  .button-27 {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }
}

@media (min-width: 376px) and (max-width: 414px) {
  /* Mobile Medium */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-items {
    flex-direction: column;
    width: 100%;
  }
  .logo img {
    width: 160px;
  }
  .button-27 {
    width: 100%;
    font-size: 14px;
    padding: 12px;
  }
}

@media (min-width: 415px) and (max-width: 480px) {
  /* Mobile Large */
  .navbar {
    flex-direction: row;
    align-items: center;
  }
  .nav-items {
    flex-direction: row;
    width: auto;
  }
  .logo img {
    width: 170px;
  }
  .button-27 {
    width: 80%;
    font-size: 15px;
    padding: 14px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Tablet Small */
  .navbar {
    flex-direction: row;
    align-items: center;
  }
  .nav-items {
    flex-direction: row;
    width: auto;
  }
  .logo img {
    width: 180px;
  }
  .button-27 {
    width: 60%;
    font-size: 16px;
    padding: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Tablet Large */
  .navbar {
    flex-direction: row;
    align-items: center;
  }
  .nav-items {
    flex-direction: row;
    width: auto;
  }
  .logo img {
    width: 200px;
  }
  .button-27 {
    width: 50%;
    font-size: 16px;
    padding: 16px;
  }
}

/* Navbar styling for smaller screens */
@media screen and (max-width: 900px) {
  .nav-items {
    display: none; /* Hidden by default */
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-light);
    transition: transform 0.3s ease;
    transform: translateX(100%);
    z-index: 1000;
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    width: 100%; 
  }

  .nav-items.show-nav {
    display: flex;
    transform: translateX(0);
  }

  .navbar-toggler {
    display: block;
  }
}

/* Toggler button hidden on larger screens */
@media screen and (min-width: 901px) {
  .navbar-toggler {
    display: none;
  }
}

/* Home Page */
.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); 
  padding-top: 60px;
}

.background-image {
  width: 100%; 
  height: auto;
  display: block;
}

/* Home Page Paragraph box */
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  position: absolute;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 500px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 50px 0px 50px 0px;
}

/* CSS for button on home page */
.button-27 {
  appearance: none;
  background-color: #000000; 
  border: 2px solid #1a1a1a;
  box-sizing: border-box;
  color: var(--color-light); 
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1); /* Smooth transition */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px); /* Lift effect on hover */
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0); /* Reset effect on click */
}

/* Footer */
.footer {
  width: 100%;
  padding: 20px 10px;
  background-color: #f8f9fa; /* Light grey background */
  box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  z-index: 1000;
}

/* Social Media Icon */
.social-media a {
  color: #4267b2; /* Facebook blue color */
}

.social-media a:hover {
  color: #365899; /* Darker blue on hover */
}

/* Contact Form */
.contact-form {
  max-width: 400px;
  margin: 200px auto; /* Center the form */
}

/* Adds space between each field: name, email, message */
.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px; /* Space below label */
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.textarea {
  height: 150px; /* Fixed height for textareas */
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Login page buttons */
.button-log {
  appearance: none;
  background-color: #000000; /* Black background */
  border: 2px solid #1a1a1a;
  box-sizing: border-box;
  color: var(--color-light); /* White text */
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1); /* Smooth transition */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%; /* Button width */
  will-change: transform;
  margin-right: 20px; /* Space between buttons */
  margin-bottom: 20px; /* Space between buttons when small screen */
}
/* Button adjustments for better responsiveness */
.button-log {
  width: auto; /* Allow button to grow with text */
  min-width: 150px; /* Minimum width to maintain usability */
  padding: 8px 20px; /* Increased padding for better touch targets */
  margin: 0 10px 20px 10px; /* Adjusted margins for better spacing */
}

/* Updated form container for better edge-to-edge design */
.container {
  padding: 16px;
  margin: 16px; /* Smaller margin for better use of space */
}

/* Responsive avatar image */
img.avatar {
  width: 80%; /* Make the avatar larger on smaller screens */
  max-width: 200px; /* Limit size on larger screens */
}

/* Responsive design adjustments */
@media screen and (max-width: 600px) {
  .container {
    margin: 16px 0; /* Adjust margins to 0 on the sides for small devices */
  }

  .button-log {
    margin-right: 0; /* Stack buttons vertically without right margin */
    margin-bottom: 10px;
  }

  h3 {
    padding: 20px; /* Smaller padding on smaller screens */
  }
}

@media screen and (min-width: 601px) {
  .center-style {
    max-width: 500px; /* Limiting max width of the form on larger screens */
    margin: auto; /* Centering the form horizontally */
  }
}

/* Ensure menu items are full width on smaller screens */
.menu-items {
  width: 100%; /* Full width to use available space */
}

h3 {
  text-align: center;
  background-color: var(--color-red);
  color: white;
  padding: 40px;
}

.center-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  flex-direction: column;
}

.form-style {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.input-style {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Center the image inside this container */
.imgcontainer {
  text-align: center;
  margin: 25px 0 12px 0;
}

img.avatar {
  width: 40%; /* Avatar image width */
}

.container {
  padding: 16px;
  margin-left: 200px;
  margin-right: 200px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%; /* Full width on small screens */
  }
}

/* Menu container styling */
.menu-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Menu category styling */
.menu-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.menu-category h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

/* Menu item styling */
.menu-item {
  flex: 1 1 calc(33% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.menu-item img {
  width: 100%;
  max-height: 150px; /* Set max-height to control image size */
  object-fit: cover;
}

.menu-item h2 {
  margin: 10px 0;
  font-size: 1.2em;
}

.menu-item p {
  font-size: 1em;
  margin: 10px 0;
}

.desc {
  padding: 15px;
  text-align: center;
}

.menu-item-controls {
  display: flex;
  align-items: center;
  margin: 10px 0 20px;
}

.menu-item-controls button {
  background-color: var(--color-red);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
}

.menu-item-controls button:hover {
  background-color: var(--color-purple);
}

.menu-item-controls span {
  font-size: 1.2em;
  margin: 0 10px;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .menu-category {
    flex-direction: column;
    align-items: center;
  }

  .menu-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Button Styles */
.menu-item-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.update_order_subtract,
.update_order_add {
  padding: 5px 10px;
  font-size: 16px;
  background-color: var(--color-blue);
  color: var(--color-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.update_order_subtract {
  margin-right: 10px;
}

.update_order_add {
  margin-left: 10px;
}

.update_order_subtract:hover,
.update_order_add:hover {
  background-color: var(--color-purple);
  transform: scale(1.1);
}

.update_order_subtract:focus,
.update_order_add:focus {
  outline: none;
}

.item-quantity {
  margin: 0 10px;
}
.login-logout-buttons {
  appearance: none;
  background-color: #000000; /* Black background */
  border: 2px solid #1a1a1a;
  box-sizing: border-box;
  color: #ffffff; /* White text */
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1); /* Smooth transition */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.phone-icon {
  margin-left: 25px;
  color: #333; /* default icon color */
  text-decoration: none; /* removes underline from the link */
}

.phone-icon:hover {
  color: #0056b3; /* change color on hover */
}
/* MenuHighlights */
.menu-highlights-section {
  padding: 20px;
  text-align: center;
}

.menu-highlights-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--color-light);
}

.menu-highlights-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu-highlights-item {
  flex: 1 1 calc(50% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.menu-highlights-item img {
  width: 100%;
  height: auto;
}

.menu-highlights-item h3 {
  margin: 10px 0;
  font-size: 1.2em;
  background-color: var(--color-light);
  color: var(--color-grey);
}

.menu-highlights-item button {
  background-color: #e65a50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
}

.menu-highlights-item button:hover {
  background-color: var(--color-red);
}
.review-slideshow {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.review {
  font-size: 16px;
  line-height: 1.6;
}

.review h4 {
  margin-top: 10px;
  color: #333;
  font-style: italic;
}

.navigation button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: var(--color-red);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: var(--color-purple);
}
